<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**



*   Commonly used libraries used by Data Scientists
*   Popular languages that Data Scientists uses
*   Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R Language
3.   Scala

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   NumPy
3.  TensorFlow

Data Science Tools |
-------------------|
Watson Studio      |
Hadoop             |
Apache Spark       |

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

<H2>Author</H2>
Mushtaq Ahmed